[Desktop Entry]
Name=MarkdownEdit
GenericName=MarkdownEdit
Comment=Start MarkdownEdit
Comment[de]=Starte MarkdownEdit
Exec=/usr/bin/markdownedit %f
Icon=text-markdown
Terminal=false
Type=Application
Categories=Utility; Qt
MimeType=text/markdown
