Package: markdownedit
Version: 1.0
Architecture: any
Maintainer: Tim Gromeyer <gromeyer1012@gmail.com>
Description: MarkdownEdit, as the name suggests, is a simple and easy program to create and edit Markdown files.

