Package: markdownedit
Version: 1.0.5
Architecture: amd64
Priority: optional
Installed-Size: 1498
Homepage: https://github.com/software-made-easy/MarkdownEdit
Maintainer: Tim Gromeyer <gromeyer1012@gmail.com>
Description: MarkdownEdit, as the name suggests, is a simple and easy program to create and edit Markdown files.
Depends: libqt5core5a, libqt5gui5, libqt5printsupport5, libqt5widgets5, enchant-2
Suggests: qt5ct
