libbrotli1
libbsd0
libc6
libcom-err2
libdouble-conversion3
libfreetype6
libgcc-s1
libenchant-2-2
libgl1
libglib2.0-0
libglvnd0
libglx0
libgraphite2-3
libgssapi-krb5-2
libharfbuzz0b
libicu70
libk5crypto3
libkeyutils1
libkrb5-3
libkrb5support0
libmd0
libmd4c0
libpcre2-16-0
libpcre3
libpng16-16
libqt5core5a
libqt5gui5
libqt5network5
libqt5printsupport5
libqt5widgets5
libstdc++6
libx11-6
libxau6
libxcb1
libxdmcp6
libzstd1
zlib1g
